{% extends 'home/base.html' %}

{% load static %}

{% block title  %}About Us | Kavikrishna Laboratory{% endblock %}

{% block page_name %}ABOUT US{% endblock%}

{% block background_caption %}<b>Dr. Bikul Das in KaviKrishna Laboratory with his students in 2014 and 2019</b>{% endblock %}

{% block background_image %}"{% static 'home/images/about/background.jpg' %}"{% endblock %}

{% block body %}
<section class="site-section about-us-section" id="about-us-section">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-12 ml-auto">
        <div class="row mb-5 pt-0">
        <div class="col-md-12 align-self-center">
            <h1 style="font-size:8vh">KaviKrishna Laboratory</h1>
          </div>
        </div>
        <div style="font-size:1.2em;">
          <p class="lead" align="justify"><b>KAVIIKRISHNA Laboratory</b>, a division of KaviKrishna is a research-based NGO lab committed to bring research on<b> Stem Cell Altruism</b> to India. KaviKrishna was registered in 2010 with the sole purpose of vision (Kavi) to action (Krishna) approach in research, an ancient Kamrupi mantra. </p>
          <p class="container lead" align="justify" style="padding:0vw 10vw;"><i>The mandate of the lab is to revive the ancient <b>Kamrupa thoughts</b> on biological altruism, the <b>JivaupakarTantra</b>, a lost part of <b>Yogini Tantra</b> composed in 12th century Kamrupa.</i></p>
          <p class="lead" align="justify">KaviKrishna’s long-term goal is to take forward research on stem cell altruism and it’s clinical application in North East India, where the incidence of cancer and tuberculosis are amongst the highest in South Asia/South East Asia region. The lab director, Dr. Bikul Das is affiliated with local universities and institutes of India as co-guide for PhD students. Since 2012, <b>Dr. Das has guided three PhD students who completed their PhD successfully on Stem Cell Altruism.</b>
          <p class="container lead" align="justify" style="padding:0vw 10vw;"><b>In the year 2018, KaviKrishna received the recognition of scientific and industrial research organization (SIRO).</b></p>
          <p class="lead" align="justify">This is the most remarkable achievement for the organization in long 8 years journey. Along with the SIRO certification journey KaviKrishna were able to form <b>‘Institutional Committee for Stem Cell Research (ICSCR)’</b> and become the <b>first organization</b> of having ICSCR in <b>North East India</b>. This certification makes KaviKrishna eligible to receive several scientific and government grants. </p>
          <p class="lead" align="justify">The laboratory has collaborated with <b>Stanford University</b> to report <b>stem cell altruism (Das B et al. Stem Cells, 2012)</b>, and how bacteria may benefit from the altruistic behavior of bone marrow rnesenchyrnal stem cells <b>(Das B et al.  Science Translational Medicine, 2013)</b>.</p>
          <p class="lead" align="justify">The laboratory is now actively engaged in cutting-edge research on stem cell altruism in collaboration with its sister laboratory <b><a href="https://www.thoreaulab.org/">The Thoreau Laboratory of Global Health at University of Massachusetts-Lowell, MA</a></b>, managed by <b>KaviKrishna USA foundation</b>.
          <p class="container lead" align="justify" style="padding:0vw 10vw;"><i>Recently, in July, 2019 both these laboratories reported that cancer stem cell hijack the mechanism of altruistic stem cell; the work was published in Cancer Research, a leading journal in the cancer field.</i></p>
          <p class="lead" align="justify">Now, there are <b>5 PhD students working on the field of stem cell altruism under the guidance of Dr. Bikul Das</b> from KaviKrishna. KaviKrishna is also providing free treatment suggestion and palliative care services to cancer patients through <a href="https://  www.youtube.com/watch?v=xfz2K8Pekto&feature=youtu.be"><b> KaviKrishna telemedicine care </b></a> and initiated a research based publication house <b>“KaviKrishna Prakash”.</b>
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="row mb-5 pt-0 site-section">
      <div class="col-md-6 align-self-center">
        <a data-fancybox data-ratio="2" href="https://www.youtube.com/watch?v=xfz2K8Pekto&feature=youtu.be" class="block__96788">
          <span class="play-icon"><span class="icon-play"></span></span>
          <img src="{% static 'home/images/kavikrishnalabs_video.jpg' %}" alt="KaviKrishnaLabs" class="img-fluid img-shadow">
        </a>
      </div>
      <div class="col-md-6 align-self-center">
        <a href="/static/home/images/about/ip_1.jpg" data-lightbox="mygallery"><img style="width:100%; padding-left: 50px;" src="/static/home/images/about/ip_1.jpg" alt=""></a>
      </div>
    </div>

    <h1 style="font-size:2em;">Gallery</h1>
    <hr><br>
    <!-- --carousel-- -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/static/home/images/gallery/1.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/1.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/3.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/3.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/4.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/4.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/5.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/5.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/6.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/6.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/7.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/7.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/8.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/8.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/9.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/9.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/10.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/10.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/11.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/11.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/12.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/12.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/13.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/13.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/14.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/14.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/15.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/15.jpg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <a href="/static/home/images/gallery/16.jpg" data-lightbox="mygallery"><img src="/static/home/images/gallery/16.jpg" class="d-block w-100" alt="..."></a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br>


<!-- no of publications etc -->

    <div class="row pb-0 border-top pt-5 block__19738 section-counter" style="justify-content: center;">
      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="icon-line-mobile mr-3"></span>
          <strong class="number" data-number="8">8</strong>
        </div>
        <span class="caption">Projects</span>
      </div>
      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="icon-line-lightbulb mr-3"></span>
          <strong class="number" data-number="7">7</strong>
        </div>
        <span class="caption">PhDs</span>
      </div>
      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="icon-line-trophy mr-3"></span>
          <strong class="number" data-number="6">6</strong>
        </div>
        <span class="caption">Publications</span>
      </div>
    </div>


</section>
{% endblock %}
