{% extends 'home/base.html' %}

{% load static %}

{% block title %}Collaborators {% endblock %}

{% block page_name %}COLLABORATORS{% endblock%}

{% block background_image %}"{% static 'home/images/collaborators/background.jpg' %}"{% endblock %}

{% block body %}

<section class="site-section services-section block__62849" id="services-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h1 style="font-size:8vh">Collaborators</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-md-6 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888; border-radius: 15px;">
          <h2 style="text-align:left; padding-bottom: 10px;">B.BAROOAH CANCER INSTITUTE, GUWAHATI</h2>
          <img class="pic" style="float:left; padding-right:35px; height:200px;" src="/static/home/images/collaborators/bbaruah.jpg" alt="">
          <h3 style="text-align:left"><i>Since Sep-14</i></h3>
          <p style="text-align:justify">To work together by mutual exchange of experience releated to animal cell culture techniques in KKL and handling of molecular biology instruments in BBCI.We have already published together a research paper on cancer stem cell recently in July, 2019. BBCI helped us to obtain the tumor tissue samples, patient data and histopathology analysis of biosy samples</p>
          <p style="text-align: left">Link:<a href="https://www.bborooahcollege.ac.in/">https://www.bborooahcollege.ac.in/</a></p>
      </div>
      <div class="col-6 col-md-6 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888888; border-radius: 15px;">
          <h2 style="text-align:left; padding-bottom: 10px;">BSL-3 LABORATORY, JNU</h2>
          <img class="pic" style="float:left; padding-right:35px; height:200px;" src="/static/home/images/collaborators/jnu.jpg" alt="">
          <h3 style="text-align:left"><i>Since 2013</i></h3>
          <p style="text-align:justify">To help students of KaviKrishna in BSL-3 practise so that these students can enhance research in the entire North East India zone. Our student Jayshree Garhyan has completed her PhD from JNU in the year 2015 under co-guideship of Dr. Bikul Das, KaviKrishna and supervision of Dr. Rakesh Bhatnagar, JNU. JNU is also our collaborator for a DBT funded MDR TB project, for which we mutually work in their BSL-3 facility.</p>
          <p style="text-align: left">Link:<a href="https://www.jnu.ac.in/main/">https://www.jnu.ac.in/main/</a></p>
      </div>
      <div class="col-6 col-md-6 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888888; border-radius: 15px;">
          <h2 style="text-align:left; padding-bottom: 10px;">IIT GUWAHATI</h2>
          <img class="pic" style="float:left; padding-right:35px; height:200px;" src="/static/home/images/collaborators/iitg.jpg" alt="">
          <h3 style="text-align:left"><i>Since Jul-18</i></h3>
          <p style="text-align:justify">Formar Director Proffessor Gautam Biswas and present Director Proffessor Sitharam liked our research idea on Stem Cell altruism originated from Vedic Philosophy. Thus it results in a beautiful way of collaboration. Collaboration is done so that exchange of students, exchange of faculty members, exchange in research and development can be done between the two institute. We have stem cell experts of BSBE department of IIT-G in our Institutional Committee for Stem Cell Research (ICSCR), KaviKrishna. We are also having a collaborative DBT sponsored project, where Dr. Sanjukta Patra from BSBE, IIT-G is one of Principal Investigator</p>
          <p style="text-align: left">Link:<a href="http://www.iitg.ac.in/">http://www.iitg.ac.in/</a></p>
      </div>
      <div class="col-6 col-md-6 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888888; border-radius: 15px;">
          <h2 style="text-align:left; padding-bottom: 10px;">DEPARTMENT OF BIOENGINEERING AND TECHNOLOGY, GUWAHATI UNIVERSITY</h2>
          <img class="pic" style="float:left; padding-right:35px; height:200px;" src="/static/home/images/collaborators/gu.jpg" alt="">
          <h3 style="text-align:left"><i>Since 2010</i></h3>
          <p style="text-align:justify">1)To bring KavKrishna expertise in Stem Cell based nanobiology to North East India by training next generation scientists. <br>2) To upgrade the animal house facility so that immunodeficient mice could be housed in order to test theraupatic benefits of nanoparticles based anti cancer stem cell therapy. This is the first University collaborator for KaviKrishna. Two research students of KaviKrishna already have completed their PhD from Gauhati University under co-guideship of Dr. Bikul Das, KaviKrishna and supervision of Dr. Debabrat Baishya, Gauhati University. Currently two research students of KaviKrishna are enrolled for PhD with GU. We also share our in vivo mice facility at GU.</p>
          <p style="text-align: left">Link:<a href="https://www.gauhati.ac.in/technology/bioengineering-and-technology">https://www.gauhati.ac.in/technology/bioengineering-and-technology</a></p>
      </div>
      <div class="col-6 col-md-6 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888888; border-radius: 15px;">
          <h2 style="text-align:left; padding-bottom: 10px;">LAB INFECTION BIOTECHNOLOGY, AMITY UNIVERSITY</h2>
          <img class="pic" style="float:left; padding-right:35px; height:200px;" src="/static/home/images/collaborators/amity.jpg" alt="">
          <h3 style="text-align:left">Since July-18</h3>
          <p style="text-align:justify">We have established collaboration with Amity for Stem Cell and TB Research. Dr. Rajendra Pasad from AMITY is our Co-PI for DBT sponsored MDR-TB project. So, we have already started working on collaboration immedeately after the MOU is signed. </p>
          <p style="text-align: left">Link:<a href="https://www.amity.edu/">https://www.amity.edu/</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
