{% extends 'home/base.html' %}

{% load static %}

{% block title %}Contact Us{% endblock %}

{% block page_name %}CONTACT US{% endblock %}

{% block background_image %}"{% static 'home/images/contact/background.jpg' %}"{% endblock %}

{% block body %}
<section class="site-section" id="next-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h1 class="section-title mb-3"  style="margin:0px; font-size:8vh;"><b>Contact Us</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <form action="#" class="">

          <div class="row form-group">
            <div class="col-md-6 mb-3 mb-md-0">
              <label class="text-black" for="fname">First Name</label>
              <input type="text" id="contactFirstName" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="text-black" for="lname">Last Name</label>
              <input type="text" id="contactLastName" class="form-control">
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" for="email">Email</label>
              <input type="email" id="contactMail" class="form-control">
            </div>
          </div>

          <div class="row form-group">

            <div class="col-md-12">
              <label class="text-black" for="subject">Subject</label>
              <input type="subject" id="contactSubject" class="form-control">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" for="message">Message</label>
              <textarea name="message" id="contactMessage" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white" id="contactButton">
            </div>
          </div>


        </form>
      </div>
      <div class="col-lg-5 ml-auto">
        <div class="p-4 mb-3 bg-white">
          <p class="mb-0 font-weight-bold">Address</p>
          <p class="mb-4">Kavikrishna lab, Biotech Park, IIT Guwahati, Guwahati, India</p>

          <p class="mb-0 font-weight-bold">Phone</p>
          <p class="mb-4">03612690933</p>

          <p class="mb-0 font-weight-bold">Email Address</p>
          <p class="mb-0"><a href="mailto:admin@kavikrshnalab.org">admin@kavikrshnalab.org</a></p>

        </div>
      </div>
    </div>
  </div>
  <script>

    document.getElementById('contactButton').onclick = function() {
  		var mes = "mailto:admin@kavikrshnalab.org?subject=";
  		mes += document.getElementById('contactSubject').value;
  		mes += '&body=';
  		mes += document.getElementById('contactMessage').value;
  		mes += '%0D%0A%0D%0A';
  		mes = mes + document.getElementById('contactFirstName').value + ' ' + document.getElementById('contactLastName').value +'%0D%0A ';
  		mes = mes + '(' + document.getElementById('contactMail').value + ')';
  		location.href = mes;
  	};

  </script>
</section>
{% endblock %}
