{% extends 'home/base.html' %}

{% load static %}

{% block title %}IBSC{% endblock %}

{% block page_name %}INSTITUTIONAL BIO SAFETY COMMITTEE{% endblock%}

{% block background_image %}"{% static 'home/images/icscr/background.jpg' %}"{% endblock %}

{% block body %}
<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h1 style="font-size:8vh; margin-bottom:10px;">INSTITUTIONAL BIO SAFETY COMMITTEE (IBSC)</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch" style="box-shadow: 5px 5px 10px #888; border-radius: 15px;">
          <div class="h-100">
            <h3 class="mb-4" style="font-size:1.5em;"><b>Scope and Functions</b></h3>
            <p style="font-size:1.25em; align:justify;">The Institutional Biosafety Committee provides guidance to University researchers who use Biologics, Infectious Agents and Recombinant DNA within the scope of their work. Such work must be approved by the IBSC before work may begin and any funding made available. The IBSC was designed to facilitate researchers and their goals by streamlining the process of submitting proposals for approval in a way that reduced the redundancies within various regulatory requirements.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 mb-4" style="height: 30%">
        <div class="block__86547 d-block d-xl-flex align-items-stretch" style="box-shadow: 5px 5px 10px #888; border-radius: 15px;">
          <div class="h-100">
            <h3 class="mb-4" style="font-size:1.5em;"><b>Head</b></h3>
            <p style="font-size:1.25em;"><b>Dr. Sorra Sandhya, PhD</b><br>Biosafety Officer, KaviKrishna Laboratory</p>

            <h3 class="mb-4" style="font-size:1.5em;"><b>Members</b></h3>
            <ul style="font-size:1.25em;">
              <li>Kabindra Das (President, KKL)       </li>
              <li>Dr. Bikul Das (Senior Scientist)    </li>
              <li>Dr. Deepjyoti Kalita (Co PI)        </li>
              <li>Dr. Ista Pulu (Co PI)               </li>
              <li>Dr. Jyotirmay Phukan(Chairman)      </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
