{% extends 'home/base.html' %}

{% load static %}

{% block title %}ICSCR{% endblock %}

{% block page_name %}INSTITUTIONAL COMMITTEE FOR STEM CELL RESEARCH{% endblock%}

{% block background_image %}"{% static 'home/images/icscr/background.jpg' %}"{% endblock %}

{% block body %}
<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h1 style="font-size:8vh; margin-bottom:10px;">INSTITUTIONAL COMMITTEE FOR STEM CELL RESEARCH (ICSCR)</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch" style="box-shadow: 5px 5px 10px #888; border-radius: 15px;">
          <div class="h-100">
            <h3 class="mb-4" style="font-size:1.5em;"><b>Scope and Functions</b></h3>
            <p style="font-size:1.25em; align:justify;">To review and approve research application involving human stem cell research according to the national guidelines published by ICMR. All research proposals/studies involving human stem cells conducted at or in collaboration with KaviKrishna Lab since 2012 should be reviewed and approved by IC-SCR prior to commencement of the project.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch" style="box-shadow: 5px 5px 10px #888; border-radius: 15px;">
          <div class="h-100">
            <h3 class="mb-4" style="font-size:1.5em;"><b>Members</b></h3>
            <img class="pic" style="float:right; width:60%; padding: 10px;" src="/static/home/images/icscr/6.jpg" alt="KaviKrishnaLab">
            <ul style="font-size:1.25em;">
              <li>Dr. Ashok Mukhopoadhyay (Chairperson)        </li>
              <li>Dr. Sujata Mohanty (Vice-Chairperson)        </li>
              <li>Dr. Biman B. Mandal (Stem Cell Expert)       </li>
              <li>Dr. Bithiah G. Jaganthan (Stem Cell Expert)  </li>
              <li>Rinku Mahanta (Legal Expert)                 </li>
              <li>Dr. Kakumoni Kakoty (Ethics Expert)          </li>
              <li>Prof. Akhil Ranjan Dutta (Social Scientist)  </li>
              <li>Dr. Jayashree Chowdhury (Social Scientist)   </li>
              <li>Dr. Rituraj Kalita (Social Scientist)        </li>
              <li>Lekhika Pathak (Member Secretary)            </li>
              <li>Dr. Manab Deka (Public Health)               </li>
              <li>Dr. Gayatri Gogoi (Public Health)            </li>
              <li>Dr. Dibakar Kalita (Public Health)           </li>
              <li>Sri Dayal Krishna Bora (Social Work)         </li>
              <li>Sri Anil Kalita (Social Work)</li>


            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
