{% extends 'home/base.html' %}

{% load static %}

{% block title %}IEC{% endblock %}

{% block page_name %}INSTITUTIONAL ETHICS COMMITTEE{% endblock%}

{% block background_image %}"{% static 'home/images/icscr/background.jpg' %}"{% endblock %}

{% block body %}
<section class="site-section" >
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h1 style="font-size:8vh; margin-bottom:10px;">INSTITUTIONAL ETHICS COMMITTEE (IEC)</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch" style="box-shadow: 5px 5px 10px #888; border-radius: 15px;">
          <div class="h-100">
            <h3 class="mb-4" style="font-size:1.5em;"><b>Scope and Functions</b></h3>
            <p style="font-size:1.25em; align:justify;">To review and approve research applications involving human laboratory and clinical research according to the national guidelines published by ICMR. All research proposals/studies involving human cell lines or clinical samples conducted at or in collaboration with KaviKrishna Lab since 2012 should be reviewed by IEC to confirm that such research was conducted as per national and international guidelines for laboratory and clinical research.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 mb-4" style="height: 30%">
        <div class="block__86547 d-block d-xl-flex align-items-stretch" style="box-shadow: 5px 5px 10px #888; border-radius: 15px;">
          <div class="h-100">
            <h3 class="mb-4"  style="font-size:1.5em;"><b>Members</b></h3>
            <ul style="font-size:1.25em;">
              <li>Dr. Manab Deka (Chairperson)</li>
              <li>Dr. Naren Barman (Member)   </li>
              <li>Lekhika Pathak (Member Secretary) </li>
              <li>Dr. Kakumoni Kataki (Member)     </li>
              <li>Dr. Dibakar Kalita (Member)       </li>
              <li>Dr. Gayatri Gogoi (Member)      </li>
              <li>Anil Kalita (Member)           </li>
              <li>Dr. Jyotirmoy Phukan (Member)</li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
