{% extends 'home/base.html' %}

{% load static %}

{% block title %}KTC{% endblock %}

{% block page_name %}KaviKrishna Telemedicine Care (KTC){% endblock%}

{% block background_image %}"{% static 'home/images/ktc/background.jpg' %}"{% endblock %}

{% block body %}
<div class="site-section services-section block__62849" id="services-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h1 style="font-size:8vh; margin-bottom:10px;">KaviKrishna Telemedicine Care (KTC)</h1>
      </div>
    </div>



  <!-- testing -->

    <div class="row" style="font-size:1.3em;">

      <div class="col-12 col-md-12 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888; border-radius: 15px;">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/1_1.jpg" alt="kavikrishnalab">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/1_2.jpeg" alt="kavikrishnalab">
          <p style="text-align:justify;">KTC has been operating since 2010 as a unit of KaviKrishna, a medical research NGO, registered under the <b>1860 Society Registration Act</b>. Telemedicine is an evolving area of medical care, where new innovation could bring revolution to health care and research at global scale. Through last 8 years of experience with Telemedicine, we were able to take forward our mission on developing the academic field of stem cell altruism, and how stem cells can be hijacked by cancer and pathogen. Based on our experience, we have planned to reorganize the KTC in terms of improved service to cancer patients of greater Sualkuchi area and to extend our research perspectives based on an IKS approach. </p>
      </div>
      <div class="col-12 col-md-12 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888; border-radius: 15px;">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/2_1.jpg" alt="kavikrishnalab">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/2_2.jpg" alt="kavikrishnalab">
          <p style="text-align:justify;"><b>Cancer Health Awareness Camp organization :</b>Every year we organise cancer health awarness camp. We have organized more than 8 health camps in different places of Sualkuchi area for the cancer patients with the support of several young social workers of Sualkuchi. Some of the examples are:</p>

            <ol style="text-align: left;">
              <li>Cancer health awareness camp, organized at SBMS College, Sualkuchi on July, 2018</li>
              <li>Cancer health awareness camp, organized at Bamundi High School, Sualkuchi on July, 2018</li>
              <li>Cancer health awareness camp, organized at Dodora in collaboration with Abad Multi Mission on August, 2018</li>
            </ol>
            <p style="text-align:justify">
            In these health camps,<b> Dr. Bikul Das </b>delivers speech on cancer, its causes and future prospective of cancer treatment. He also encourage the cancer patients and their relatives to share their fight against cancer. In the end of the camps, Dr. Bikul interacts with the patients regarding current status of the disease and also checked their reports. In each health camp, many patients deliver their side of story against cancer and motivate the other cancer patients and their relatives.
            </p>
      </div>
      <div class="col-12 col-md-12 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888; border-radius: 15px;">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/3_1.jpg" alt="kavikrishnalab">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/3_2.jpg" alt="kavikrishnalab">
          <p style="text-align:justify"><b>Focused Group discussion (FGD) : </b>As per statistical analysis FGD increases survival rate of cancer patients. Therefore we have started FGD in KTC every Saturday. In this particular session, the patient and attendant interact with Dr. Bikul, oncologist, KTC and with the team of KTC about their current status of the disease and also about any kind of barriers or disparities they are going through. KTC team suggests the treatment plans and also provides knowledge on their case; encourage them to fight, so that they could communicate to concerned persons with confidence and strength. Also, in this session the patient and their relatives communicate freely with the other cancer patients and their relatives. In that way they share knowledge, motivation, and encouragement among themselves </p>
      </div>
      <div class="col-12 col-md-12 col-lg-12 mb-4 mb-lg-5 block__16443 text-center d-block" style="box-shadow: 5px 5px 8px #888; border-radius: 15px;">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/4_1.jpg" alt="kavikrishnalab">
        <img class="pic" style="float:top; width: 45%; padding:15px;" src="/static/home/images/ktc/4_2.jpg" alt="kavikrishnalab">
          <p style="text-align:justify"><b>Home visit to cancer patients : </b>We regularly give home visit to cancer patients to observe their livelihood, hygienity maintenance and provide moral support to them and their relatives. Dr. Bikul Das, himself visits patient’s home along with his KTC team. As an IKS based approach, we increase the local and free communication with all the cancer patients and their relatives. All the interns must visit the patient’s home as a course work of their internship. This regular communication and moral support between the students and patients provides the patients and their relatives motivation and fighting spirit towards life against cancer. As a result of home visit, the patient gained enormous knowledge in cancer and they could able to remove the disparities regarding communicating with the concerned physicians and society.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
