
{% load static %}
<div class="text-center">
<div class="container" >
    <br><br><br><br><br><br>
    <!--div class="jumbotron text-center" style="margin:0; background-image: url('{% static 'StartUp_201\images\background7.jpg' %}'); background-size: cover;"-->
      <h1><b>Login here :</b></h1><br>
        <form method="post" action="{% url 'admin_login' %}">
          {% csrf_token %}

          <label for="username"><h3><b>Username :</b></h3></label>
          <input type="text" name="username" placeholder="Username"><br><br>
          <label for="password"><h3><b>Password &nbsp: </b></h3></label>
          <input type="password" name="password" placeholder="Password"><br><br>
          <input type="submit" name="" value="Login"><br><br>

        </form><br><br><br><br><br><br><br><br>
    <!--/div-->
</div>
