{% extends 'home/base.html' %}

{% load static %}

{% block title %}Publications{% endblock %}

{% block page_name %}PUBLICATIONS{% endblock %}

{% block background_image %}"{% static 'home/images/projects/background.jpg' %}"{% endblock %}

{% block body %}


  <section class="site-section about-us-section" id="about-us-section" style="padding-bottom:0.3rem">
    <div class="container">

      <div class="row mb-5 pt-0">
        <div class="col-md-6 align-self-center">
          <h1 style="font-size:8vh">Publications</h1>
        </div>
      </div>

    </div>
  </section>
  <div class="container">
    <ul style="text-align:justify; font-size:1.2em">
      {% for publication in publications %}
      <li class="publications"><a href="{{publication.link}}" style="color:black; ">{{publication.author}}, {{publication.title}}, {{publication.journal}} ({{publication.yop}})</a></li><br>
      {% endfor %}
    </ul>
  </div>


{% endblock %}
